<!-- SLIDE  -->
<li data-transition="cube-horizontal" data-slotamount="4" data-masterspeed="1000" >
    <!-- MAIN IMAGE -->
    <f:image src="fileadmin{slide.image.0.original.identifier}" alt="" height="600c" additionalAttributes="{data-bgfit: 'cover', data-bgposition: 'left top', data-bgrepeat: 'no-repeat'}" />
    <!-- LAYERS -->

    <!-- LAYER NR. 3 -->
    <div class="tp-caption large_bold_white skewfromleftshort customout"
         data-x="80"
         data-y="152"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="300"
         data-start="1100"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="on"
         style="z-index: 7">{slide.headline}
    </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption small_thin_white  customin customout"
         data-x="80"
         data-y="240"
         data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1300"
         data-easing="Power4.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="on"
         style="z-index: 8">
        <f:format.html>{slide.description}</f:format.html>
    </div>
</li>