<!-- SLIDE  -->
<li data-transition="zoomin" data-slotamount="4" data-masterspeed="1000" >
    <!-- MAIN IMAGE -->
    <f:image src="fileadmin{slide.image.0.original.identifier}" alt="" height="600c" additionalAttributes="{data-bgfit: 'cover', data-bgposition: 'left top', data-bgrepeat: 'no-repeat'}" />
    <!-- LAYERS -->

    <!-- LAYER NR. 10 -->
    <div class="tp-caption large_bold_white customin customout"
         data-x="center" data-hoffset="0"
         data-y="160"
         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="1000"
         data-start="1000"
         data-easing="Back.easeInOut"
         data-endspeed="300"
         style="z-index: 11">{slide.headline}
    </div>

    <!-- LAYER NR. 11 -->
    <div class="tp-caption mediumlarge_light_white_center customin customout"
         data-x="center" data-hoffset="0"
         data-y="bottom" data-voffset="-150"
         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="1000"
         data-start="1200"
         data-easing="Back.easeInOut"
         data-endspeed="300"
         style="z-index: 12">
        <f:format.html>{slide.description}</f:format.html>
    </div>
</li>
