<section id="sub-header" >
    <div class="container">
        {f:cObject(typoscriptObjectPath: 'framework.content.1')}
    </div><!-- End container -->
    <div class="divider_top"></div>
</section>
<section id="main_content">
    <div class="container">
        {f:cObject(typoscriptObjectPath: 'wmdb.rootline')}
        <div class="row">
            <div class="col-md-8">
                {f:cObject(typoscriptObjectPath: 'framework.content.0')}
            </div><!-- End col-md-8  -->

            <aside class="col-md-4">
                {f:cObject(typoscriptObjectPath: 'framework.content.2')}
            </aside> <!-- End col-md-4 -->

        </div><!-- End row -->
    </div><!-- End container -->
</section>