<section id="sub-header" >
    <div class="container">
        {f:cObject(typoscriptObjectPath: 'framework.content.1')}
    </div><!-- End container -->
    <div class="divider_top"></div>
</section>
<section id="main_content">
    <div class="container">
        {f:cObject(typoscriptObjectPath: 'wmdb.rootline')}
        <div class="row">
            <div class="col-md-12">
                {f:cObject(typoscriptObjectPath: 'framework.content.0')}
            </div><!-- End col-md-8  -->
        </div><!-- End row -->
    </div><!-- End container -->
</section>