<section id="map"></section><!-- end map-->
<section id="directions">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="http://maps.google.com/maps" method="get" target="_blank">
                    <div class="input-group">
                        <input type="text" name="saddr" placeholder="Ihre Position" class="form-control style-2" />
                        <input type="hidden" name="daddr" value="Am Wehrhahn 41, 40211 Düsseldorf"/><!-- Write here your end point -->
					<span class="input-group-btn">
					<button class="btn" type="submit" value="Get directions" style="margin-left:0;">Route planen</button>
					</span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
    </div>
</section>