{namespace ewh=TYPO3\WmdbFramework\ViewHelpers}
<f:if condition="{data.colPos} == 2">
    <f:then>
        <div class="box_style_1">
            <h4>{data.header}</h4>
            <ul class="list_1">
                <f:for each="{data.links}" as="link">
                    <li>
                        <ewh:link value="{link.link}">
                            {link.label}
                        </ewh:link>
                    </li>
                </f:for>
            </ul>
        </div>
    </f:then>
    <f:else>
        <div class="col-md-3 col-sm-6">
            <h4>{data.header}</h4>
            <ul class="list_1">
                <f:for each="{data.links}" as="link">
                    <li>
                        <ewh:link value="{link.link}">
                            {link.label}
                        </ewh:link>
                    </li>
                </f:for>
            </ul>
        </div>
    </f:else>
</f:if>
