{namespace ewh=TYPO3\WmdbFramework\ViewHelpers}
<f:if condition="{data.mode} == 1">
    <f:then>
        <section id="testimonials">
            <div class="container">
                <div class="row">
                    <div class='col-md-offset-2 col-md-8 text-center'>
                        <h2>{data.header}</h2>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-offset-2 col-md-8'>
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <f:for each="{data.slides}" key="key" as="slide">
                                    <f:if condition="{key} == 0">
                                        <f:then>
                                            <li data-target="#quote-carousel" data-slide-to="{key}" class="active"></li>
                                        </f:then>
                                        <f:else>
                                            <li data-target="#quote-carousel" data-slide-to="{key}"></li>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </ol>
                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner">
                                <f:for each="{data.slides}" key="key" as="slide">
                                    <f:if condition="{key} == 0">
                                        <f:then>
                                            <div class="item active">
                                        </f:then>
                                        <f:else>
                                            <div class="item">
                                        </f:else>
                                    </f:if>
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-3 text-center">
                                                    <f:image src="fileadmin{slide.image.0.original.identifier}" alt="" class="img-circle" />
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>
                                                        {slide.description}
                                                    </p>
                                                    <small>{slide.author}</small>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                </f:for>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End testimonials -->
    </f:then>
    <f:else>
        <f:if condition="{data.slides.0}">
            <section class="tp-banner-container">
                <div class="tp-banner" >
                    <ul class="sliderwrapper">


                        <f:for each="{data.slides}" as="slide">
                            <!-- SLIDE  -->
                            <li data-transition="zoomin" data-slotamount="4" data-masterspeed="1000" >
                                <!-- MAIN IMAGE -->
                                <f:image src="fileadmin{slide.image.0.original.identifier}" alt="" height="600c" additionalAttributes="{data-bgfit: 'cover', data-bgposition: 'left top', data-bgrepeat: 'no-repeat'}" />
                                <!-- LAYERS -->

                                <!-- LAYER NR. 10 -->
                                <ewh:link value="{slide.link}">
                                    <div class="tp-caption customin customout WmdbSlideFrame"
                                         data-x="center" data-hoffset="0"
                                         data-y="160"
                                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="1000"
                                         data-start="1000"
                                         data-easing="Back.easeInOut"
                                         data-endspeed="300"
                                         style="z-index: 11">
                                        <div class="WmdbSlideHeadline">
                                            {slide.headline}
                                        </div>
                                        <div class="WmdbSlideDescription">
                                            <f:format.html>{slide.description}</f:format.html>
                                        </div>
                                    </div>
                                </ewh:link>
                            </li>

                        </f:for>

                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </section><!-- End slider -->
        </f:if>
    </f:else>
</f:if>
