<f:if condition="{data.slides.0}">
    <section class="tp-banner-container">
        <div class="tp-banner" >
            <ul class="sliderwrapper">

                <f:for each="{data.slides}" as="slide">
                    <f:if condition="{slide.style} == 0">
                        <f:render partial="Partials/Slider/TextLeft" arguments="{slide: slide, conf: conf}" />
                    </f:if>
                    <f:if condition="{slide.style} == 1">
                        <f:render partial="Partials/Slider/TextCenter" arguments="{slide: slide, conf: conf}" />
                    </f:if>
                    <f:if condition="{slide.style} == 2">
                        <f:render partial="Partials/Slider/Split" arguments="{slide: slide, conf: conf}" />
                    </f:if>
                </f:for>

            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </section><!-- End slider -->
</f:if>